.banner-image {
    background-image: url('../img/banner-img.jpg');
    background-size: cover;
  }

  /* softwore section */
.card{
  box-shadow: 2px 3px 20px gray;
}
.box{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border: 1px solid black;
  margin:10px;
  align-items:center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top,rgb(255,45,45)50%,white 50%);
  background-size: 100% 200%;
  transition:  all .8s;
}
.box:hover{
  background-position: left bottom;
  color: aliceblue;
  border: none;
  box-shadow: 0 0 20px rgb(255,45,45);
}
.box img{
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  padding: 10px;
}
.clint{
  box-shadow: 2px 3px 20px gray;

  
}
/* client */
.img_h {
  position: relative;
  width: 350px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img_h:hover .image {
  opacity: 0.3;
}

.img_h:hover .middle {
  opacity: 1;
}

.text {
  background-color: #d1dcd8;
  color:black;
  font-size: 16px;
  padding: 16px 32px;
}
/* submit button */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button:hover {background-color: #e7e7e7;}
/* footer */


.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}
.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
.footer-bottom{
  background: #000;

  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

